.jumbotron{
	background-color: #ADFF2F;
	color: #006400;
}


.footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom : 0px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 2px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
}

.body_background{
	background-color: #8FBC8F;	
}